:root {
  --blue-1: rgba(47, 128, 237, 1);
  --body-14-book-font-family: "CircularStd-Book", Helvetica;
  --body-14-book-font-size: 14px;
  --body-14-book-font-style: normal;
  --body-14-book-font-weight: 400;
  --body-14-book-letter-spacing: 0px;
  --body-14-book-line-height: normal;
  --button-15-book-font-family: "CircularStd-Book", Helvetica;
  --button-15-book-font-size: 15px;
  --button-15-book-font-style: normal;
  --button-15-book-font-weight: 400;
  --button-15-book-letter-spacing: 0px;
  --button-15-book-line-height: normal;
  --color-background: rgba(247, 248, 251, 1);
  --color-ferozi-pri: rgba(49, 224, 231, 1);
  --color-field: rgba(240, 240, 240, 1);
  --color-field-text: rgba(199, 199, 199, 1);
  --color-light-text: rgba(99, 100, 98, 1);
  --color-secondary-1: rgba(255, 188, 235, 1);
  --color-text: rgba(56, 56, 56, 1);
  --colorblue-pri: rgba(70, 157, 251, 1);
  --colorsblack: rgba(0, 0, 0, 1);
  --colorsec-2: rgba(51, 72, 109, 0.4);
  --colorsecondary: rgba(51, 72, 109, 1);
  --DS-1: 35.36000061035156px 4.714666843414307px 122.58133697509766px 0px rgba(218, 81, 81, 0.25);
  --DS-2: 42.26191711425781px 6.641695499420166px 172.68408203125px 0px rgba(182, 182, 182, 0.2);
  --DS-card: 0px 10.710000038146973px 150px 0px rgba(151, 146, 146, 0.4);
  --gray-3: rgba(130, 130, 130, 1);
  --gray-5: rgba(224, 224, 224, 1);
  --gray-6: rgba(242, 242, 242, 1);
  --green-1: rgba(33, 150, 83, 1);
  --heading-16-medium-font-family: "CircularStd-Medium", Helvetica;
  --heading-16-medium-font-size: 16px;
  --heading-16-medium-font-style: normal;
  --heading-16-medium-font-weight: 500;
  --heading-16-medium-letter-spacing: 0px;
  --heading-16-medium-line-height: normal;
  --primarytext: rgba(24, 24, 24, 1);
  --title-24-bold-font-family: "CircularStd-Bold", Helvetica;
  --title-24-bold-font-size: 24px;
  --title-24-bold-font-style: normal;
  --title-24-bold-font-weight: 700;
  --title-24-bold-letter-spacing: 0px;
  --title-24-bold-line-height: normal;
  --white: rgba(255, 255, 255, 1);
}
